*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.h{
    height: 60px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
}

.p{
    margin-left: 50px;
    list-style: none ;
   font-size: x-large;
}

.input{
    margin-right: 80px;
}

#search{
    width: 100%;
    margin-top: 10px;
    padding: 7px;
    border: none;
    border-radius: 5px;

}
.btn{
    padding: 10px 10px;
    border-radius: 5px;
    background-color: green;
    color: white;
    border: none;
}
/* image */

.word{
    text-align: center;
    margin-top: 50px;
}

/* styling for grid */
.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
}

.card h1{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
}
/* icon */
.ny{
    font-size: 35px;
   gap: 50px;

}


/* footer */
.footer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: white;
    margin-top: 60px;
    background-color: black;
    padding: 30px 150px 30px;
}
.footer_content h1,h3{
    font-size: 20px;
}

@media(max-width: 850px){
    .container{
        grid-template-columns: 1fr 1fr;
    }
    .footer{
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        margin-right: 30px;
    }
}
@media(max-width: 550px){
    .container{
        grid-template-columns: 1fr;
    }
    .footer{
        grid-template-columns: 1fr;
        justify-content: center;
       
    }
       
    }
    .input{
       margin-right: 10px;
       width: 30%;
    }
}




